.album-list{

    width: 65vw;
    position: absolute;
    left: 17%;
}

.create-album{
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(99,99,99,.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 50px auto 30px;
    padding: 20px;
    width: 50vw;

}

.create-album span{
    font-size: 1.7rem;
    font-weight: 700;
}

.create-album form{
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}

.create-album form input{
    border: 3px solid transparent;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 300;
    outline: none;
    padding: 10px 10px 10px 15px;
    transition: .3s;
    width: 60%;
}

.create-album form button{
    background-color: #07f;
    border: none;
    border-radius: 7px;
    box-shadow: 0 3px 8px rgba(0,0,0,.24);
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    outline: none;
    padding-block: 7px;
    width: 100px;
}

.create-album form button:first-of-type {
    background-color: #ff1300;
}

.album-list-top{
    /* border: 4px solid rgb(170, 22, 22); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 12px;
    margin-right: 50px;


}
.add-album-btn button{
    background-color: rgba(0,119,255,.1);
    border: 2px solid #07f;
    border-radius: 5px;
    color: #07f;
    cursor: pointer;
    font-weight: 700;
    outline: none;
    padding: 5px 10px;
}
.cancel-album-btn button{
    background-color:rgba(246, 198, 195, 0.1);
    border: 2px solid #ff1300;
    border-radius: 5px;
    color: #ff1300;
    cursor: pointer;
    font-weight: 700;
    outline: none;
    padding: 5px 10px;
}

.album-list-container{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}





