.img-list{
    width: 65vw;
    position: absolute;
    left: 17%;
}

.create-img{
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(99,99,99,.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 50px auto 30px;
    padding: 20px;
    width: 50vw;
}

.create-img span{
    font-size: 1.7rem;
    font-weight: 700;
}

.create-img form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.create-img form input{
    border: 3px solid transparent;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 300;
    outline: none;
    padding: 10px 10px 10px 15px;
    transition: .3s;
}

.img-form-btn{
    align-items: center;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.img-form-btn button:first-of-type{
    background-color: #ff1300;
}

.img-form-btn button{
    background-color: #07f;
    border: none;
    border-radius: 7px;
    box-shadow: 0 3px 8px rgba(0,0,0,.24);
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    outline: none;
    padding-block: 7px;
    width: 100px;
}
.img-list-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 50px;
}

.add-img-btn button{
    background-color: rgba(0,119,255,.1);
    border: 2px solid #07f;
    border-radius: 5px;
    color: #07f;
    cursor: pointer;
    font-weight: 700;
    outline: none;
    padding: 5px 10px;
}

.back{
    align-items: center;
    aspect-ratio: 1;
    background-color: #fcfcfc;
    border-radius: 50%;
    box-shadow: 0 3px 8px rgba(0,0,0,.24);
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-right: 30px;
    width: 50px;
}
.back img{
    width: 30px;
}

.img-list-container{
    grid-gap: 20px;
    display: grid;
    gap: 10px;
    grid-auto-flow: row;
    grid-auto-rows: 150px;
    grid-template: repeat(1,150px) /repeat(auto-fit,minmax(175px,.5fr));
    margin-bottom: 50px;
    margin-top: 50px;
}
