

.img-comp{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 rgba(99,99,99,.2);
    box-sizing: border-box;
    cursor: pointer;
    height: 100%;
    padding: 10px;
    position: relative;
    width: 100%;
}


.image{
    height:85%;
}
.span{
    /* background-color: #eee; */
    font-size: 1.1rem;
    /* font-weight: 700; */
    justify-self: baseline;
    align-self:center ;
    text-align: center;
    width: auto;
    margin-bottom: 10px;
}

.image img{
 width:95%;
 height: 80%;
 margin:10px;
 /* border-top-left-radius: 8px;
 border-top-right-radius:8px ; */
}