.img-comp{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 rgba(99,99,99,.2);
    box-sizing: border-box;
    cursor: pointer;
    height: 100%;
    padding: 10px;
    position: relative;
    width: 100%;
}


.image{
    height:85%;
    background-size: contain;
}
.img-comp span{
    font-size: 1.1rem;
    justify-self: baseline;
    align-self:center ;
    text-align: center;
    width: auto;
    margin-bottom: 10px;
}

.image img{
 width:100%;
 height: 95%; 
}

.img-comp:hover .update-img {
    display: block;
}

.img-comp:hover .delete-img{
    display: block;
}

.update-img, .delete-img{
    border: none;
    display: none;
    outline: none;
    position: absolute;
    top: -1px;
    transition: .3s;
}
.update-img{
    right: 50px;
    top:1px;
}

.delete-img{
    right:10px;
    background: none;
}


.update-img img, .delete-img img{
    width:30px;
}

.update-img img:hover, .delete-img img:hover{
    width:35px;
    transition: .3s;

}




